[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudscraper = "*"
discord = "*"
bs4 = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "==0.13.0"
certifi = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
